<center>
<div class="jumbotron">
  <h2>Welcome to </h2>
  <h1>Perry's Deli </h1>
<!--   <%= image_tag('front.jpg', alt: 'Description', style: 'display: block; margin: auto; width: 40%;')%>
 --><br>
  <p> 909 Lincoln ave San Rafael, CA 94901 <br>
<a href="tel:14154564886">1-415-456-4886</a> Fax: 415-456-8112 <br>
Open Monday-Saturday 7am-8pm <br>
Sunday 8am-7pm</p>
</div>
  <p>
  <i class="fa fa-snapchat fa-5x" aria-hidden="true" ></i>
  <i class="fa fa-instagram fa-5x" aria-hidden="true" ></i>
  <i class="fa fa-facebook fa-5x" aria-hidden="true" ></i>
  <a class="fa fa-yelp fa-5x" aria-hidden="true" href="https://www.yelp.com/biz/perrys-delicatessen-novato?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank" role="button" ></a>
  <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
  </p>

</center>