<div class="jumbotron">
	<ul>
		<h1 align="center"> Salads </h1>
			<% @salads.each do |salad| %>
				<h3 align="center"><%= salad.name %></h3><p align="center"><%= salad.price %></p>
				<p align="center"><%= salad.description %></p>
			<% end %>
		</ul>

</div>