<div class="sandospic">
<h1>Sandwiches</h1>
</div>
<div class="jumbotron">
	<p class="everything" align="center">Everyting includes: Mayo, mustard, lettuce, tomato, pickles, and Onions.</p>
			
	  <div class="newspaper">
			<ul>
			<% @items.each do |item| %>
			<% if item.category == "sandwhich" %>
				<h3 class="names" align="center"><%= item.name %></h3><h5 align="center">$<%= item.price %></h5>
				<p align="center"><%= item.description %></p>
			<% end %>
			<% end %>
		</ul>
	  </div>
</div>

